<h3> Voeg Verhaal </h3>
<div class="row">
    <form class="col s12" method="post" action="/stories">
    <div class="row">
        <div class="input-field">
            <input type="text" id="title" name="title">
            <label for="title">Titel</label>

        </div>
    </div>

    <div class="row">
        <div class="input-field">
            <select id="status" name="status">
                <option value="public" selected> Public </option>
                <option value="private" > Prive </option>

            </select>
            <label for="status">Status </label>
        </div>
    </div>

    <div class="row">
        <div class="input-field">
            <h5>Vertel je verhaal </h5>
            <textarea id="body" name="body"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Opslaan" class="btn">
        <a href="/dashboard" class="btn orange">Annuleer</a>
    </div>
    </form>
</div>